body {
    background-color: black;
    font-family: monospace;
}

p {
    text-align: left;
    margin-left: 20px;
    color: lime;
    font-size: 2em;
}

a {
    text-align: center;
    color: white;
    font-size: 2em;
}

.navbar {
    margin: 30px;
}

.nav-menu {
    display: flex;
    justify-content: center;
    gap: 40px;
}